**/.vscode/
**/.empty/
**/__pycache__/
**/.pytest_cache/

**/*.out
**/.DS_Store
**/*.egg-info/
**/config_log.yaml

/data/
/wandb/
/checkpoints/
/outputs/
/multirun/
/visualizations/
/ruff.toml
/slurm_scripts/
/activations/
/config_topography/
/connectivity/sunny/
/post_proc/
/connectivity/
experimental_stuff/
