**/.vscode/
**/.empty/
**/__pycache__/

**/*.out
**/.DS_Store
**/*.egg-info/

/data/
/wandb/
/checkpoints/
/outputs/
/multirun/
/visualizations/
/ruff.toml
/slurm_scripts/
/activations/
/config_topography/
/connectivity/sunny/
/post_proc/
