jupyter
ipykernel
numpy 
opencv-python 
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
--index-url https://download.pytorch.org/whl/cpu
torchsummary
scipy 
scikit-learn 
pandas 
matplotlib
mne
wandb
accelerate
torch-scatter 
torch-sparse 
-f https://data.pyg.org/whl/torch-2.0.0+cpu.html
