jupyterlab
ipykernel
numpy 
opencv-python
# --extra-index-url https://download.pytorch.org/whl/cpu # uncomment if not OSX or CUDA 11.7
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
torchsummary
scipy 
scikit-learn 
pandas 
matplotlib
mne
wandb
accelerate
lightning
# -f https://data.pyg.org/whl/torch-2.0.0+cu117.html # uncomment if CUDA 11.7
-f https://data.pyg.org/whl/torch-2.0.0+cpu.html # uncomment if OSX
torch-scatter 
torch-sparse
torchsparsegradutils
